# dependencias de Node.js
/node_modules
/backend/node_modules

# variables de entorno
.env
/backend/.env

# Archivos de build/compilación de Vite
/dist1
/.vite

# Caché de npm, yarn, bun (si los usas)
*.log
npm-debug.log*
yarn-debug.log*
.bun/

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de configuración de IDE (opcional, si no quieres que se compartan)
.vscode/